* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #000D30;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 99%;                     /* changed from 800 pixels */
    max-width: 960px;
    margin: 0 auto;
	
	
@media screen and (orientation: portrait) {
	
	}
@media screen and (orientation: landscape) {
	}
}